{% extends "base.html.twig" %}

{% block title %}
	S'inscrire
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container-fluid mt4">
		<h1 class="text-center">S'inscrire</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="d-grid gap-2 d-md-block mt-4 text-center">
			<button type="submit" class="btn btn-inline btn-primary">S'inscrire</button>
		</div>

		{{ form_end(form) }}
	</section>
{% endblock %}
