{% extends "base.html.twig" %}

{% block title %}
    Création des infos utilisateur
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container-fluid mt-4">
    <h1 class="text-center">Création des utilisateurs</h1>
    {% include 'Backend/Article/_form.html.twig' with {buttonLabel: "Créer"} %}
    </section>
{% endblock %}