{% extends 'base.html.twig' %}

{% block title %}
    Création d'un événement
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container-fluid mt-4">
    <h1 class="text-center">Création d'un événement</h1>
    {% include 'Backend/Event/_form.html.twig' with {buttonLabel: "Créer"} %}
    </section>
{% endblock %}