{% extends 'base.html.twig' %}

{% block title %}
    Modification d'un événement
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container-fluid mt-4">
        <h1>Modification d'un événement</h1>
        {% include 'Backend/Event/_form.html.twig' with {buttonLabel: "Modifier"} %}
    </section>
{% endblock %}