//Colors
$primary : #4B8576;
$secondary : #B3D9CF;
$green-light : #CDF8ED;
$beige : #F3F0EB;
$white : #F3F3F3;
$text-color : #111212;

//Border radius
$border-radius : 20px;
$border-radius-button : 30px;

//Font
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$font-title : "Handlee", sans-serif;
$font-text : "Inter", sans-serif;