//Colors
$primary : #4B8576;
$secondary : #B3D9CF;
$green-light : #CDF8ED;
$beige : #F3F0EB;
$white : #F3F3F3;
$text-color : #111212;

//Border radius
$border-radius : 20px;
$border-radius-button : 30px;

//Box shadow
$box-shadow-card:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

//Font
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$font-title : "Handlee", sans-serif;
$font-text : "Inter", sans-serif;