<header class="navbar">
    <nav class="container navbar-content">
        <img src="{{ asset('images/logo-petits-marcelois.png') }}" class="navbar-logo" alt="logo qui représente deux enfants, l'un tient un cartable, l'autre un ballon. Dessous l'inscription Les Petits Marcelois">
        <ul class="navbar-links">
            <li class="navbar-link">
                <a href="" class="">ACTUALITES</a>
            </li>
            <li class="navbar-link">
                <a href="#" class="">VENTES</a>
            </li>
            <li class="navbar-link">
                <a href="#" class="">CONTACT</a>
            </li>
        </ul>
        <div class="navbar-underline"></div>
    </nav>
</header>